{% extends "layout.html" %}
{% block title %}Quote{% endblock %}
{% block main %}

    <table>
        <thead>
            <th>Cash balance</th>
            <th>Grand total</th>
        </thead>
        <tbody>
            <td>{{balance}} </td>
        </tbody>
    </table>

    <table>
        <thead>
            <th>Stocks owned</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Value </th>
        </thead>
        <tbody>
            {# For loop #}
        </tbody>
    </table>
{% endblock %}
