{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block main %}
    <form action="" method="post">
        <div>
            <label for="">Name</label>
            <input type="text" name="username">
        </div>
        <br>
        <div>
            <label for="">Password</label>
            <input type="text" name="password" placeholder="password">
        </div>
        <br>
        <div>
            <label for="">Confirm</label>
            <input type="text" name="confirmation" placeholder="password">
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
