{% extends "layout.html" %}
{% block title %}Buy{% endblock %}
{% block main %}
    <form action="" method="post">
        <div>
            <label for="">symbol</label>
            <select name="symbol">
                {% for key in accountHoldings %}
                    <option value={{key}}> {{key}} </option>
                {% endfor %}
            </select>
            <label for="">Amount :</label>
            <input type="text" name="shares" placeholder="Amount">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">sell</button>
    </form>
{% endblock %}
